

<div id="bgImg" style="background-image: url(http://i.imgur.com/tmQh3Hl.jpg);">
	<div class="container" style="text-align: center;" ng-controller="ContactController as contact">
		<div class="row">
			<div class="col-md-12 borderContact"  >
        <h1 style="color:white; text-align: center; text-shadow: 2px 2px 4px #000000;">Contact Me</h1>
				<div class="col-md-12" style="text-align: center; padding-top: 60px;">
           <a href="mailto:gustavogardel@gmail.com?Subject=Hello%20again" target="_top"><img src="http://i.imgur.com/9L8m8Uh.png" style="height:100px; width:auto;" alt=""/></a></br>
					 <p style="color:white; font-size: 25px; text-align: center;font-family: 'Oxygen', sans-serif;">Email me: <a href="mailto:gustavogardel@gmail.com?Subject=Hello%20again" target="_top"> gustavogardel@gmail.com</a></p>

				</div>
       </div>
		 </div>
		 <div class="row">
 			<div class="col-md-12 borderContact" >
         <h1 style="color:white; text-align: center; padding-bottom: 40px; text-shadow: 2px 2px 4px #000000;">Links</h1>
 				<div class="col-md-4">
					<a target="_blank" href="https://www.linkedin.com/in/gustavogardel"><img src="http://i.imgur.com/rzN0ckn.png" style="height:110px; width:auto;" alt=""/></a>
					<p style="color:white; font-size: 25px; text-align: center;font-family: 'Oxygen', sans-serif;">LinkedIn</p>
 				</div>
				<div class="col-md-4" >
	         <a target="_blank" href="https://drive.google.com/open?id=0B8BGZxI5RTzIWVNuS1pfa0p1QlU"><img src="http://i.imgur.com/sWhUCVd.png" style="height:110px; width:auto;" alt=""/></a>
						 <h1 style="color:white; text-align: center; text-shadow: 2px 2px 4px #000000;">Resume</h1>
        </div>
				<div class="col-md-4">
 					<a target="_blank" href="https://github.com/ggardel"><img src="http://i.imgur.com/nJSSayi.png" style="height:120px; width:auto;" alt=""/></a>
           <p style="color:white; font-size: 25px; text-align: center;font-family: 'Oxygen', sans-serif;">GitHub</p>
				</div>
 		  </div>
 		 </div>
	 </div>
</div>
