
<div>

<div class="containername">
   <div class="scroller">
     <div class="inner">
       <span>Hello World,</span>
       <span>I am a </span>
       <span>Full Stack Web Developer</span>
       <span><a ng-click="toggleHideCanvas()" ui-sref="about" style="color:rgb(231, 192, 167);" class="blue" ng-href="about" >Gustavo</a>
             <a ng-click="toggleHideCanvas()" ui-sref="about" style="color:rgb(231, 192, 167);" class="blueb" ng-href="about" > Ferreira</a>
       </span>
     </div>
   </div>
</div>
</div>
